{{#if error_message}}
	<p>Error Loading Content</p>
	{{error_message}}

{{else}}
	<h3>Incidents <a href="/add/incident">Add New</a></h3>
	{{#if incident}}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Description</th>
					<th>City</th>
					<th>Person(s) Involved</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each incident}}
					<tr>
						<td>{{incident_description}}</td>
						<td><a href="/view/city/{{in_CityID}}">{{city_name}}</a></td>
						<td>
							{{each person}}
							<a href="/view/person/{{ID}}">{{name}} Villain? {{villain}}</a><br>
							{{/each}}
						</td>
						<td><a href="/view/incident/{{ID}}">View</a></td>
						<td><a href="/edit/incident/{{ID}}">Edit</a></td>
						<td><a href="/delete/incident/{{ID}}">Delete</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<p>No incident, yet...</p>
	{{/if}}
{{/if}}