{{#if error_message}}
	<p>Error Loading Content</p>
	{{error_message}}

{{else}}
	<h3>Persons <a href="/add/person">Add New</a></h3>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Alias</th>
				<th>Real Name</th>
				<th>Villain?</th>
				<th>Power</th>
				<th>Origin Story</th>
				<th>City</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each person}}
				<tr>
					<td>{{name}}</td>
					<td>{{real_name}}</td>
					<td>{{villain}}</td>
					{{!--city_id is for cityid within person, etc etc. i didnt see it in my notes and i didn't know how you wanted this please check over all these id key calls--}}
					<td><a href="/view/power/{{power_id}}">{{power}}</a></td>
					<td>{{origin}}</td>					
					<td><a href="/view/city/{{city_id}}">{{name}}</a></td>
					<td><a href="/view/person/{{sp_id}}">View</a></td>
					<td><a href="/edit/person/{{sp_id}}">Edit</a></td>
					<td><a href="/delete/person/{{sp_id}}">Delete</a></td>
				</tr>
			{{/each}}
			<tr>
				<td>Spider-Man</td>
				<td>Peter Parker</td>
				<td>0</td>
				<td>Spider</td>
				<td>Bitten by a spider and got powers</td>
				<td><a href="/view/city/1">New York City</a></td>
				<td><a href="/view/person/1">View</a></td>
				<td><a href="/edit/person/1">Edit<a/></td>
				<td>N/A <strong style="color:red;">*</strong></td>
			</tr>
		</tbody>
	</table>
	<p><strong style="color:red;">* This default person exists so that incidents and cities can be created from the start. Deletion Forbidden.</strong></p>
{{/if}}