{{#if error_message}}
	<h2>{{error_message}}</h2>
	<p><a href="/view/incident">Go back</a></p>
{{else}}
	{{#if incident_data.incident}}
		<h2>Incident Details <a href="/edit/incident/{{incident_data.incident.in_id}}">Edit</a> <a href="/delete/incident/{{incident_data.incident.in_id}}">Delete</a></h2>
		<p><strong>Date:</strong> {{incident_data.incident.incident_date}}</p>
		<p><strong>Incident Description:</strong> {{incident_data.incident.incident_description}}</p>
		<p><strong>City: </strong> <a href="/view/city/{{incident_data.incident.in_CityID}}"> {{incident_data.incident.city_name}}</a></p>
		<p><strong>Collateral Damage (USD)::</strong>{{incident_data.incident.incident_collateral}}</p>
		<p><strong>Person(s) involved:</strong> 
		{{each persons}}
		<a href="/view/person/{{incident_data.incident.sp_id}}"> {{incident_data.incident.person_name}} Villain?: {{incident_data.incident.person_villain}}</a> &nbsp;
		{{/each}}
		</p>
		
	{{else}}
		<h1>Incident Not Found</h1>
	{{/if}}
{{/if}}