{{#if error_message}}
	<h2>{{error_message}}</h2>
	<p><a href="/view/person">Back to persons..</a></p>
{{else}}
	{{#if person_data.person}}
		<h2>Person Details <a href="/edit/person/{{person_data.person.sp_id}}">Edit</a> <a href="/delete/person/{{person_data.person.sp_id}}">Delete</a></h2>
		<p><strong>Alias: </strong>{{person_data.person.person_name}}</p>
		<p><strong>Real Name: </strong>{{person_data.person.person_real_name}}</p>
		<p><strong>Villain?: </strong>{{person_data.person.person_villain}}</p>
		<p><strong>City: </strong><a href="/view/city/{{person_data.person.city_id}}">{{person_data.person.city_name}}</a></p>
		<p><strong>Incidents Recorded: </strong>
		{{#if person_data.incidents}}
			<ul>
				{{#each person_data.incidents}}
					<li><a href="/view/incident/{{id}}">{{date}} - {{description}}</a></li>
				{{/each}}
			</ul>
		{{else}}
			This person currently has no incidents on record.
		{{/if}}
		</p>
		<p><strong>power: </strong>
		{{#if person_data.power}}
			<ul>
				{{#each person_data.power}}
					<li><a href="/view/power/{{id}}">{{description}}</a></li>
				{{/each}}
			</ul>
		{{else}}
			This person currently has no powers... how are they a super person then?
		{{/if}}
		</p>
	{{else}}
		<h1>Person Not Found</h1>
	{{/if}}
{{/if}}

